body {
    background-image: url("./images/bg.jpg");
    background: url(./images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column
}
main {
    flex: 1 0 auto;
  }

.header-input {
    font-size: 45px !important;
    text-align: center !important;
	text-indent: -60px;
	font-family: 'Pacifico', cursive;
}

.intro {
    text-align: center;
    margin:0px auto !important;
    margin-top: 79px !important;
    color: ivory;
}

.logo {
	width: 330px;
}

.page-title {
	margin: 0;
	font-family: 'Pacifico', cursive;
}

div[class*=box] {
	height: 33.33%;
	width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
    margin-top: 35PX;
    width: 60%;
}

.button-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.button-one span {
	transition: all 0.3s;
}
.button-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #EE6E73;
	border-bottom-color: #EE6E73;
	transform: scale(0.1, 1);
}
.button-one:hover span {
	letter-spacing: 2px;
}
.button-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.button-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.button-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
    
}

.card-image {
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0 auto;
	padding-right: 40px;
	width: 100%;
}

.card-span {
	line-height: 10px;
	
}

.img-span {
	text-align: center;
}

.card-panel {
	background-color: #EE6E73;
}

.brew-title {
	text-shadow: 2px 2px 5px white;
}

.map-img {
	padding-top: 14px;
	width: 96%;
}

.map {
	text-align: center;
}

.favorite-btn {
	height: 40px;
}

.fav-btn {
	position: relative;
	width: 60px;
	max-width: 100%;
}
.fav-btn img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}
.fav-btn:hover img.image-hover {
  opacity: 1;
}

.page-footer {
    padding-bottom: 10px
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }
  @keyframes scale-in-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }
  